@media (max-width: 1240px) {
    .container{
        max-width: 1040px;
    }
}


@media (max-width: 1040px) {
    .container{
        max-width: 840px;
    }
}



@media (max-width: 840px) {
    .container{
        max-width: 640px;
    }
}


@media (max-width: 640px) {
    .container{
        max-width: 440px;
    }
}


@media (max-width: 440px) {
    .container{
        max-width: 240px;
    }
}