:root {
  --primary-navy: #092c4c;
  --primary-blue: #514ef3;
  --primary-blue-light: #ececfe;
  --primary-green: #2dc8a8;
  --primary-yellow: #ffc357;
  --primary-pink: #fe8084;
  --primary-white: #fff;
  --black-black: #000;
  --black-black-50: rgba(0, 0, 0, 0.5);
  --grey-grey-90: #526477;
  --grey-grey-70: #7e92a2;
  --grey---grey-50: #d6e1e6;
  --grey-grey-30: #eaeef4;
  --grey-grey-20: #eef6fb;
  --grey-grey-10: #f6fafd;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Lato", sans-serif;
  --third-family: "Manrope", sans-serif;
}
