.dashboard {
  &-left {
    &-content {
      &-nextAppointment {
        border: 1px solid var(--grey-grey-30);
        border-radius: 12px;
        width: 268px;
        height: 392px;
        background: var(--primary-blue);
      }

      .recentDeals {
        border: 1px solid var(--grey-grey-30);
        border-radius: 12px;
        background: var(--primary-white);
        width: 519px;
        height: 392px;
      }
    }
  }
}
