nav {
  width: 100%;
  padding: 15px 1rem;
  background:transparent;
  .nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &-right {
      display: flex;
      align-items: center;
      gap: 30px;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        border-radius: 70px;
        padding: 10px 16px 10px 20px;
        width: 130px;
        height: 50px;
        border: none;
        background: var(--primary-blue);
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 214%;
        color: var(--primary-white);
      }
      &-searchInput {
        border: 1px solid var(--grey-grey-30);
        border-radius: 50px;
        width: 50px;
        height: 50px;
        background: var(--primary-white);
        display: flex;
        align-items:  center;
        // gap: 20px;
        overflow: hidden;
        padding: 0 10px;
        hr {
          border: none;
          height: 1px;
          background: var(--grey-grey-90);
        }
        span {
          display: inline-block;
          position: relative;
          top: 3px;
          right: .7rem;
        }
        input {
          width: 100%;
          border: none;
          outline: none;
          color: var(--grey-grey-90);
        }
        
      }
      &-userDate{
        width: 50px;
        height: 50px;
        border-radius: 100px;
        border: 1px solid var(--grey-grey-30);
        img{
          width: inherit;
          height: inherit;
          border-radius: inherit;
        }
      }

    }
  }
}

.nav_bottom-hr{
  height: 1px;
  border: none;
  background: var(--grey-grey-30);
}